{% extends "base.html.twig" %}

{% block title %}Dodaj artykuł{% endblock %}
{% block head %}
    {{ parent() }}
    <style>
    </style>
{% endblock %}
{% block content %}
    <h1 class="text-center">
        Dodaj nowy artykuł
    </h1>
    <div class="row">
        <div class="col-12">
            {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
                {{ form_widget(form) }}

                <div class="form-widget"></div>
            {{ form_end(form) }}
        </div>
    </div>

    <script src="{{ asset('js/image-input-handler.js') }}"></script>
{% endblock %}
